body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


code {
  
  font-family: 'Montserrat', sans-serif;    

}

p, h3{
  color: rgb(74, 74, 74);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;   

}
a{
  color: rgb(74, 74, 74);
  font-family: 'Montserrat', sans-serif;    

  text-decoration: none !important;
}
